<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>#accordion2</title>

	<style type="text/css">
	body { font:13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif; }
	</style>

	<!-- You may want to change the paths below, according to your own CSS and JavaScript setup -->
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="./js/jquery.accordionza.min.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>

</head>
<body>	

	<!-- Start HTML: Accordion Demo #2 -->
	<ul id="accordion2" style="overflow-x: hidden; overflow-y: hidden; position: relative; ">
		<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 0px; " class="slide_opened">
			<img class="slide_thumb" alt="Thumbnail" src="./images/163186.png" width="80" height="80">
			<p class="slide_title" style="left: 160px; opacity: 1; "><strong>Push Pins</strong></p>
			<p class="slide_content" style="left: 160px; opacity: 1; ">A shiny 3D push pin pack made in Illustrator</p>
			<p class="slide_button" style="left: 160px; opacity: 1; "><a href="http://graphicriver.net/item/massive-pushpin-pack/55880?ref=GeertDD">More info</a></p>
		</li>
		<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 320px; ">
			<img class="slide_thumb" alt="Thumbnail" src="./images/174906.jpg" width="80" height="80">
			<p class="slide_title"><strong>Flipping Digits</strong></p>
			<p class="slide_content">Set of multifunctional flipping digits</p>
			<p class="slide_button"><a href="http://graphicriver.net/item/flipping-digits/59709?ref=GeertDD">More info</a></p>
		</li>
		<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 480px; ">
			<img class="slide_thumb" alt="Thumbnail" src="./images/122819.jpg" width="80" height="80">
			<p class="slide_title"><strong>Digital Noise</strong></p>
			<p class="slide_content">Used as background in fourth slide above</p>
			<p class="slide_button"><a href="http://graphicriver.net/item/digital-noise-pack/43522?ref=GeertDD">More info</a></p>
		</li>
	</ul>
	<!-- End HTML: Accordion Demo #2 -->


</body></html>
