		/** LAYOUT **/
body{
	padding:0;
	margin:0;
	}
#wrap{
	top:0;
	position: relative;
	width: 100%;
	}
#header{
	height:45px;
	background:url(../images/blue.jpg) repeat-x;
	min-width: 1164px;

}
#backbut{
	overflow: hidden;
	float:left;
	display:inline-block;
}
#backbut span{
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-top:10px;
	

}
.firstnavitem{
	background:transparent url(../images/blue.png) repeat-x;
}
.firstnavitem a{
	color:white;
	font-size: 14px;
}
.firstnavitem a:hover{
	text-decoration: none;
	color:white;

}
.firstnavitem:hover{
	background:transparent url(../images/active-blue.png) repeat-x;
}
#backbut > #navbutitem{
	float:left;
	padding:3px 5px 0px 5px;
	line-height: 45px;
	color:white;
}
#backbut > #navseparator{
	padding:3px 0px 0px 0px ;
}
#navbutitem {
	padding-top:13px;
}
#logo{
	float:left;
	width:250px;
	padding-left:10px;
	padding-top:5px;
	height: 40px;
	float:left;
	overflow: hidden;
}
#menu{
	float:left;
	height: 45px;
}
#menuitem{
	float:left;
	font-size:18px;
	font-family: Arial,Helvetica,sans-serif;
	display:inline-block;
	font-weight: bold;
	line-height: 45px;
	padding:0px 15px 0px 15px;


}
#navseparator{
	float:left;
	background: transparent url(../images/spacer-blue.png) no-repeat center center;
	line-height: 45px;
	display:block;
}
.menuseparator{ /* slashu dintre intra si inreg */
	float:left;
	background: transparent url(../images/spacer-blue.png) no-repeat center center;
	line-height: 45px;
	}
#menuitem a{
	padding-top:10px;
	text-decoration: none;
	color:white;
}
#menuitem:hover{
	background:transparent url(../images/active-blue.png) repeat-x;
	vertical-align:middle;
}
#top-right{
	float:right;
	height: 45px;
}
#searchbar{
	float:left;
	width:250px;
    padding-left:10px;
    padding-right:10px;
    padding-top:7.5px;	
}
.search-bar{
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;	
    width:250px;
    position:relative; top:0px; /* readujst in jsfiddle */
    padding:5px 5px 8px 10px;
    border:1px solid #ccc;
    background:white url(../images/lFkqn.png) right center no-repeat;

}
#right-header{
	float:right;
	height: 45px;
	display: block;
}
#right-header a{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	color:white;
	font-size:13px;
	font-weight: bold;
	text-align: center;
}
#right-header a:active{
	color:white;
}

#log-in{
	float:left;
	text-align: center;
	padding:13px 5px 0px 20px;
}
.headerseparator{
	float:left;
	font-size:25px;
	color:white;
	padding-top:13px;
}
#register{
	float:left;
	padding:8px 10px 0px 5px;
	margin-right: 10px;
}
#log-in:hover{
	vertical-align:middle;
	float:left;
	text-decoration: underline;
	color:white;
}
#register:hover{
	vertical-align:middle;
	float:left;
	text-decoration: underline;
	color:white;
}
#content-wrap{
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
	padding-top:10px;
	background-repeat: repeat-x;

}
#content{
	background: white;
	width:960px;
	margin:0px auto;
	border:1px solid gray;
	border-radius:5px;
	overflow: hidden;

}
 		/** END OF LAYOUT **/
 		/** FORM OF login/register **/
.titleform{
	padding-top: 30px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	font-family: Arial,Helvetica,sans-serif;
	border-bottom:1px dotted gray;
	width:520px;
	margin:0 auto;
}
.titleform > label:hover{
	cursor:text;

}
#univreg{
	height: 0;
	margin-bottom:50px;
	padding-top:50px;
	border-top:1px dotted gray;
	width:70%;
	margin:auto;

}
#regform{
	border-bottom:1px dotted gray;
}
#updescription{
	width: 300px;
	text-align: center;
	margin:0px auto 20px auto;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic;

}
.form{
	overflow: hidden;
	width: 520px;
	margin:30px auto;
}
		/** END OF FORM OF login/register **/
 		/** login.html **/
#newacc{
	padding-top:5px;
	padding-right:0px;
}
#newacc button{
	margin-left:20px;
}
#regnew{
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
}
#forgotq{
	padding:0;
	margin-bottom:0;
	float:right;
	margin-right:120px;
}	
#loginerror{
	text-align: center;
}
		/** END OF login.html **/
		/** register.html **/
#registercond{
	width:290px;
	margin:0 auto;
}
#registerbtn{
	width: 130px;
	margin:0 auto;
	padding-top:10px;
}
#inregistrare{
	margin-bottom:3px;
	margin-left:10px;
}
		/** END OF register.html **/
		/** home.html **/
#univs{
	background: white;	
	margin-top:20px;
}
#univ{
	border:1px solid lightgrey;
	float:left;
	width: 198px;
	margin-left:32px;	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;	
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;    
    height: 225px;
}
#univ img{
	width: 150px;
	height: 150px;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:3px solid gray;
	border-radius:3px;
}	
#univ a{
	padding-top:5px;
	text-decoration: none;
	color:black;
	font-family: times;
	font-size:18px;
	text-align: center;	
}	
#univ:hover{
	background:url('images/gradient.jpg');
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
 	border:1px solid gray;
}
#univ-name{	
	padding:5px;
	width:160px;
	margin:0 auto;
}
		/** END OF home.html **/ 
		/** facultypage.html **/
.leftside{
	overflow: hidden;
	width: 640px;
	float:left;
	padding-bottom:10px;
	margin-top:10px;
}

.rightside{
	float:right;
	padding-right:0px;
	width: 319px;
	overflow: hidden;
	padding-bottom:10px;
	border-left:1px solid lightgrey;
	margin-top:10px;
}
#ads{
	text-align: center;
	margin-bottom:20px;
}
#comments{
	float:left;
	margin-top:10px;
	overflow: auto;
	height: 500px;
	width:300px;
	padding-left:10px;


}
#addcom input{
	float:left;
}
#addcom a{
	padding-top:4px;
	float:left;
	padding-left:10px;
}
#addcom a:hover{
	cursor: pointer;
}
#readcomments{
	padding-bottom:10px;
	border-top:1px solid lightgrey;
	padding-top:10px;

}
#comname{
	float:left;
	font-size: 13px;
	font-weight: bold;
}
#comdata{
	float:left;
	font-size:10px;
	color:gray;
	font-style: italic;
	padding-left:25px;
}
#commsg{
	padding-left:10px;
	display:inline-block;
	overflow: hidden;
	font-size: 12px;
	font-family: arial,sans-serif;
}
#postcomment{
	text-align: center;
	padding:10px 10px 0px 0px;
}
#postcomment a{
	text-decoration: underline;
	padding-bottom:10px;
	display: inline-block;
}
#addcom{
	padding:0px 10px 10px 10px;

}
#addcom input{
	float:left;
	padding-right:10px;
}
#postcomment a{
	font-size:15px;
	font-weight: bold; 
	font-family: arial,sans-serif;

}
#postcomment a:hover{
	cursor:pointer;
}
#univ-selector{
	float:left;
	overflow: hidden;
	padding-top:0px;
	padding-left:10px;
}

.accordion ul li{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid lightgrey;

}
.accordion ul {
	width:100%;
	height: 100%;	
	overflow: hidden;
	text-align: center;
}
.accordion-inner ul{
	overflow: hidden;
}
#actbut{
	color:black;
	float:right;
}

.accordion-inner ul li span{
	font-weight: bold;
}

.accordion-heading{
	line-height: 24px;
	height: 32px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;

}
.facultytitle{
	color:white;
	padding: 9px 15px;
	font-size: 15px;
	float:left;
}
#actbut{
	float:right;
	padding:8px 15px 0px 8px;
}
#actbut a{
	color:black;
}
.accordion-inner a{
	text-align: center;
	padding-bottom:2px;	
}
#dropdownn{
	float: none; 
	z-index:1000;
	padding-bottom:40px;

}
.dropdown-menu li:hover{
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x
}
.dropdown-menu li {
	height:17px;
	padding-top:0;
}
.dropdown-menu li a{
	padding-top:0;
	font-size:15px;
	padding-bottom:5px;
}
#actbut span{
	color:white;
	font-weight: bold;
 }
 .semdivider{
 	
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	font-size:16px;
	  color: #ffffff;
	font-weight: bold;
 }
.accordion-inner ul li:hover{
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
}
.accordion-inner ul li.semdivider:hover{
		 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #5bb75b;
  	*background-color: #51a351;
  	background-image: -moz-linear-gradient(top, #62c462, #51a351);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
 	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
 	background-image: -o-linear-gradient(top, #62c462, #51a351);
  	background-image: linear-gradient(to bottom, #62c462, #51a351);
  	background-repeat: repeat-x;
  	
}
#backbut2{
	overflow: hidden;
	float:left;
	display:inline-block;
}
#backbut2 span{
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-top:0px;
}

#backbut2 > #navbutitem2{
	float:left;
	padding:3px 5px 0px 5px;
	line-height: 33px;
	font-size:15px;
}
#backbut2 > #navseparator2{
	padding:3px 0px 0px 0px ;
}
#navbutitem2 {
	padding-top:13px;
}
#navseparator2{

	float:left;
	background: transparent url(../images/spacer-blue.png) no-repeat center center;
	line-height: 35px;
	display:block;

}
		/** END OF facultypage.html **/
		/** folderpage.html **/
#nav{
	overflow: hidden;
	float:left;
}

#breadcrumb{
	list-style: none;
	float:left;
	padding-top:3px;
}
#breadcrumb >li {
	display:inline;
}
#breadcrumb a{
	color:white;
	font-weight: bold;
}
#breadcrumb> .active{
	color:lightgrey;
}
#breadcrumb >li > .divider{
padding: 0 5px;
  color: #ccc;
}
#breacrumb ul{
	margin-left:5px;
}
#top-bar{
		padding:10px 10px 0px 10px;
		background:url(../images/blue.jpg) repeat-x;
		overflow: hidden;
	
		border-radius-top:5px;
		margin-left:0px;
		padding-top:0;
}
#fileupload{
	padding:10px;
}
#files{
	padding:0px;
	overflow: hidden;
}
#filestitles{
	border-top:1px solid lightgrey;
	font-size:15px;
	font-weight: bold;
	padding:10px 0px 0px 10px;
	overflow: hidden;
	border-bottom:1px solid lightgrey;
	width:618px;
	color:rgb(237,28,36);
	margin-bottom:10px;

}
.confmes{
	margin:20px;
	margin-right:70px;
	margin-left: 70px;
	text-align: center;
}
#filescontainer{
	padding:0px 10px 0px 10px;
	overflow: hidden;
	width: 618px;
}
#filetype{
	width:5%;
	float:left;
}
#filename{
	width:42%;
	float:left;
	font-weight: bold;

}


#filemeasure{
	width: 13%;
	float:left;
	font-size: 12px;


}
#fileauthor{
	width: 20%;
	float:left;
	font-size: 12px;	

}
#filedate{
	width:20%;
	float:left;
	font-size: 12px;
}
#foldericon{ 
	height:20px;
	width:20px;
}
#fileicon{
	height: 20px;
	width:15px;
}
#uploadform2{
	
}
.box{
	overflow: hidden;
	border:1px solid grey;
	margin:20px;
	margin-right:70px;
	margin-left:70px;
	padding:10px;
	border-radius:5px;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
	padding-top:10px;
	background-repeat: repeat-x;
}
#upcontrols{
	margin-top:0px;
	display:inline;
	float:left;
	padding-top:0px;
}
#uploadform a{
	cursor:pointer;
	margin-left:10px;
}
#errorMessage{
	text-align: center;
}
#upbut{
float:left;
margin:0;
width: 100%;
}
#actionbut{
	float:right;
	margin-left:10px;
	padding-top:10px;
}
#actionbut a{
	color:rgb(237,28,36);
	font-weight: bold;
}
#file2{
	margin:0;
	overflow: hidden;
}
#filename1{
	height: 1px;
}
#filename2{
	height:20px;
}
#progbar{
	margin-top:10px;
}
#leftcontent{
	border:1px solid gray;
	margin:10px;
	border-radius:5px;
	margin-top: 0;
	padding-bottom:10px;
	overflow: hidden;
}


		/** END OF folderpage.html **/
		/** settings.html **/
#userside{
	padding-left:5px;
	overflow: hidden;
	float:left;
	width:150px;
	border-right:1px solid lightgrey; 	
	padding-top:10px;
	padding-right: 5px; 
	padding-bottom:20px;
}
#useravatar{
	padding-bottom:5px;
	border-bottom:1px dotted lightgrey;
}
#avatar img{
	width:150px;
	height: 200px;
	 }
#userinfo{
	padding-top:5px;
	font-size: 10px;
	text-align: center;
	border-bottom:1px solid lightgrey;
}
#usermenu{
	padding-left:0px;
	padding-top:10px;
}
#usermenu i{
	padding-right:0px;
	float:right;
}
#usermenu a{
	color:black;
	text-decoration: none;
	font-family: arial;
}
.usermenutab{
	padding-top:4px;
	border-bottom:1px solid lightgrey;
}
.usermenutab:hover{
	border-bottom:1px solid gray;
	cursor:pointer;
	text-decoration: none;
}
		/** END OF settings.html **/
		/** FOOTER **/
#footer{
	margin-top:10px;
	border-top:1px solid lightgrey;
}
#subfooter{
	width: 960px;
	margin:0 auto;
	font-size:11px;
}
#copyright{
	float:left;
}
#footerdata{
	float:right;
}
#footer a{
	color:black;
}
		/** END OF FOOTER **/
		/** files.html **/
#iframe{
	margin:0px 5px;
}
#navbar2{
	padding: 13px 5px;
  	list-style: none;
  	width:700px;
  	float:left;
}
#navbar2 > li{
  display: inline;
  *zoom: 1;

}
#navbar2 a{
  color:white;
  font-weight: bold;
}
#navbar2 > li > .divider {
  padding: 0 5px;
  color: #ccc;
}
#navbar2 > .active{
	color:lightgrey;
}
#downbut{
	float:right;
	margin:10px 5px;
	font-weight: bold;
}

		/** END OF files.html **/
		/** about.html **/
#story{
	width: 600px;
	float:left;
	margin:0px 10px;
	padding:10px;
	border:1px solid gray;
	border-radius:5px;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
}

#story h3{
	font-size: 30px;
	color: #48535a;
	line-height: 1.0em;
	margin:20px 10px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
#followus p{
	font-size:16px;
	font-weight: bold;
	color: #48535a;
	line-height: 1.0em;
	font-family: 'Open Sans Condensed', sans-serif;
	margin:20px 20px 10px 20px;
}
#story h4{

	color: #48535a;
	line-height: 1.0em;
	margin:20px 10px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
#story p{
	font-family: arial,"Open Sans", sans-serif;
	font-weight: normal;
	color: #48535a;
	font-size: 0.9em;
	line-height: 1.4;
	margin:10px;
	text-align: justify;
}
#social{
	margin:0px 20px 20px 40px;
}
#social img{
	width: 30px;
	height: 30px;
	margin:0px 5px;
}
#followus{
	width: 300px;
	overflow: hidden;
	margin:10px;
	float:right;
	border:1px solid gray;
	border-radius:5px;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linearf-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
}
		/** END OF about.html **/
		/** contact.html **/
#contactform{
	margin:10px;
	overflow: hidden;
	width: 414px;
}
#condetails{
	float:left;
	width:600px;

}
		/** END OF contact.html **/
		/** terms.html **/
#termstext{
	text-align: justify;
   font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 17px;
        margin-top: .5em; color: #666;
	margin: 10px auto;
	width:90%;
	margin-bottom:20px;
}
#termstitle{
	font-size: 30px;
	color: #48535a;
	line-height: 1.0em;
	margin:20px 10px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-top:20px;
}
#navitem{
	float:left;
	font-size:14px;
	font-family: Arial,Helvetica,sans-serif;
	display:inline-block;
	font-weight: bold;
	line-height: 45px;
	padding:0px 15px 0px 15px;
}
		/** TESTING **/
.accordion-heading ul li  a:active{
	text-decoration: none;
}
#settings{
	margin:20px;
}
.tab-content{
	margin-left:20px;
	padding-left:20px;
	display: block;

}
.tab-content h3{
	font-size: 30px;
	color: #48535a;
	line-height: 1.0em;
	margin-bottom:20px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
#element{
	float:left;
	font-size:22px;
	font-weight: bold;
	color:black;
}
.userdet{
	font-size:18px;
	color:black;
	font-weight: bold;
	overflow: hidden;
}
.userdet span{
	color:#48535a;
	font-weight: normal;
	font-size: 18px;
}
.userdet p{
	width:100px;
	float:left;

}
#editbut{
	float:right;
	margin:10px 20px 0px 0px;
}
#userctrl{
	display: inline-block;
	width:100%;
}
#folderup{
	
	overflow: hidden;
}
.socialshare a:hover{
	text-decoration: none;
}
.socialshare{
	margin:0px auto;
	margin-bottom:20px;
	width:300px;
	border:1px solid lightgrey;
	border-radius:5px;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(224,224,224,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(100%,rgba(224,224,224,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(224,224,224,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e0e0e0',GradientType=0 ); /* IE6-9 */
}
.socialsharetitle{
	padding:10px;
	padding-top:20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold; 
	text-align: center;
}
.sociallinks{
	text-align: center;
	margin-bottom:20px;

}
.filesharelinks{
	width:110px;
	float:right;
	margin-top:5px;
}
#errorCommMessage{
	text-align: center;
}
#confMessage{
	text-align: center;
}
#uploadFileButtons a{
	padding-left:5px;
}
#uploadFileButtons input{
	padding-right:10px;
}
#uploadFileButtons a:hover{
	cursor: pointer;
}
