/* 14 */
* {
    border-radius: 0 !important;
}

/* 18 */
body {
    color: #333;
    font-size: 13px;
    line-height: 1.6;
}

/* 25 */
p, li, li a {
    color: #555;
}

/* 30 */
a {
    color: #72c02c;
    text-decoration: none;
}

/* 35 */
a, a:focus, a:hover, a:active {
    outline: 0 !important;
}

/* 62 */
h3 {
    font-size: 20px;
    line-height: 27px;
}

/* 76 */
h1, h2, h3, h4, h5, h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

/* 84 */
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right: 5px;
}

/* 264 */
.table thead > tr > th {
    border-bottom: none;
}

/* 346 */
.tab-v1 .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #72c02c;
}

/* 352 */
.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}

/* 357 */
.tab-v1 .nav-tabs > .active > a, .tab-v1 .nav-tabs > .active > a:hover, .tab-v1 .nav-tabs > .active > a:focus {
    color: #fff;
    border: none;
    background: #72c02c;
}

/* 365 */
.tab-v1 .nav-tabs > li > a {
    border: none;
}

/* 373 */
.tab-v1 .tab-content {
    padding: 10px 0;
}

/* 377 */
.tab-v1 .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px;
}

/* 610 */
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    display: inline-block;
    text-decoration: none;
}

/* 636 */
.btn-u-sm, a.btn-u-sm {
    padding: 3px 12px;
}

/* 655 */
.btn-group .dropdown-menu > li > a {
    padding: 3px 13px;
}

/* 659 */
.btn-group > .btn-u, .btn-group-vertical > .btn-u {
    float: left;
    position: relative;
}

/* 665 */
.btn-group > .btn-u:first-child {
    margin-left: 0;
}

/* 779 */
.btn-u.btn-u-default {
    background: #95a5a6;
}

/* 789 */
.btn-u.btn-u-split-default.dropdown-toggle {
    border-left: solid 1px #7f8c8d;
}

/* 863 */
.btn-u.btn-u-dark {
    background: #555;
}

/* 1093 */
span.label {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 7px;
}

/* 2295 */
.panel-heading {
    color: #fff;
    padding: 5px 15px;
}

/* 2301 */
.panel .table {
    margin-bottom: 0;
}

/* 2369 */
.panel-grey {
    border-color: #95a5a6;
}

/* 2373 */
.panel-grey > .panel-heading {
    background: #95a5a6;
}

/* 2591 */
.margin-bottom-5, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60 {
    clear: both;
}

/* 2605 */
.margin-bottom-50 {
    margin-bottom: 50px;
}

/* 2705 */
.rounded-x {
    border-radius: 50% !important;
}