/* 146 */
.btn-u {
    background: #72c02c;
}

/* 250 */
.tab-v1 .nav-tabs {
    border-bottom: solid 2px #72c02c;
}

/* 254 */
.tab-v1 .nav-tabs > .active > a, .tab-v1 .nav-tabs > .active > a:hover, .tab-v1 .nav-tabs > .active > a:focus {
    background: #72c02c;
}