/*------------------------------------------------------------------
[ Override bootstrap]
*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: transparent;
color: #555555;
}
/*------------------------------------------------------------------
[ Global ]
*/
body {
  background: #e9e9e9 url(./images/tiny_grid.png) repeat 0 0;
  font: 13px/1.7em 'Open Sans';
}

.navbar .navbar-nav > li > .dropdown-menu {
border-top-right-radius: 4px;
border-top-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.dropdown .dropdown-menu {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.navbar .navbar-nav.navbar-right > li > .dropdown-menu::before, .navbar .navbar-nav.navbar-right > li > .dropdown-menu::after {
left: auto;
right: 9px;
}

.navbar .navbar-nav > li > .dropdown-menu::before, 
.navbar .navbar-nav > li > .dropdown-menu::after {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #CCC;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 9px;
}

.navbar .navbar-nav.navbar-right > li > .dropdown-menu::after {
left: auto;
right: 10px;
}

.navbar .navbar-nav > li > .dropdown-menu::after {
border-left-width: 6px;
border-right-width: 6px;
border-bottom-width: 6px;
border-bottom-color: #fff;
top: -6px;
left: 10px;
}
/*------------------------------------------------------------------
[ Dropdown Menu / .dropdown-menu ]
*/
.dropdown-menu {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu > li > a {
  padding: 5px 9px;
  margin: 0 6px;
  font-size: 12px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FFF;
  background-color: #446e9b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background: #446e9b;
  text-shadow: none;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -5px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/*------------------------------------------------------------------
[ Subnavbar / .subnavbar ]
*/
.subnavbar {
  margin-bottom: 2.5em;
  border-top: 1px solid #595959;
}
.subnavbar .subnav-toggle {
  display: none;
  padding: .5em 0;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  color: #ff9900;
}
.subnavbar .subnav-toggle:hover {
  text-decoration: none;
}
.subnavbar .subnavbar-inner {
  height: 80px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#267ebb), to(#446e9b)); 
  background-image: -webkit-linear-gradient(top, #267ebb, 0%, #446e9b, 100%);
  background-image: -moz-linear-gradient(top, #267ebb 0%, #446e9b 100%);
  background-image: linear-gradient(to bottom, #267ebb 0%, #446e9b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff267ebb', endColorstr='#ff446e9b', GradientType=0);
  border-bottom: 1px solid #000;
}
.subnavbar .btn-subnavbar {
  display: none;
  padding: 10px 0 8px;
  color: #F90;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.subnavbar .btn-subnavbar:hover {
  text-decoration: none;
}
.subnavbar .dropdown .caret {
  margin-top: -16px;
  border-top-color: #9aa9c8; /*#9e1218; */
  border-bottom-color: #9aa9c8; /*#9e1218;*/
  opacity: 35;
  filter: alpha(opacity=3500);
}
.subnavbar .dropdown.open .caret {
  display: none;
}
.subnavbar .mainnav {
  display: inline-block;
  height: 80px;
  padding: 0;
  margin: 0;
  border-left: 1px solid #292929;
  border-right: 1px solid #2BB;
}
.subnavbar .mainnav > li {
  float: left;
  min-width: 90px;
  height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 1px solid #2BB;
  border-right: 1px solid #292929;
}
.subnavbar .mainnav > li > a {
  display: block;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;  /*#9e1218;*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.subnavbar .mainnav > li > a:hover {
  color: #9aa9c8;
  text-decoration: none;
}
.subnavbar .mainnav > li > a > i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 12px;
  margin-bottom: 9px;
  font-size: 28px;
}
.subnavbar .mainnav > li > a > span {
  display: block;
  padding-bottom: 2px;
}
.subnavbar .mainnav > li.open > a {
  text-decoration: none;
}
.subnavbar .mainnav > li.active > a {
  background: #446e9b;
  color: #9e1218; /* #FFFFFF; */
}
.subnavbar .mainnav > li.active > a .caret {
  border-top-color: #446e9b;
  border-bottom-color: #446e9b;
}
.subnavbar .dropdown > .dropdown-menu {
  top: 97%;
  text-align: left;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.subnavbar .dropdown > .dropdown-menu a {
  font-size: 12px;
}
.subnavbar .dropdown > .dropdown-menu::before,
.subnavbar .dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.subnavbar .dropdown > .dropdown-menu::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: #fff;
  top: -6px;
  left: 10px;
}
.subnavbar .dropdown-submenu .dropdown-menu:after,
.subnavbar .dropdown-submenu .dropdown-menu:before {
  display: none;
}
.subnavbar .subnav-collapse.collapse {
  height: auto\9;
  overflow: visible\9;
}
/*------------------------------------------------------------------
[ Widget / .widget ]
*/
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  /* Clearfix Hack */

  /* Widget Table */

  /* Widget Plain */

  /* Widget Box */

}
.widget .widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.widget .widget-header h3 {
  top: 0;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget .widget-header [class^="icon-"],
.widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-top: -3px;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget .widget-content {
  padding: 25px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.widget.widget-nopad .widget-content {
  padding: 0;
}
.widget .widget-content:before,
.widget .widget-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.widget .widget-content:after {
  clear: both;
}
.widget .widget-content:before,
.widget .widget-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.widget .widget-content:after {
  clear: both;
}
.widget.widget-table .widget-content {
  padding: 0;
}
.widget.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget.widget-table .table tr td:first-child,
.widget.widget-table .table tr th:first-child {
  border-left: none;
}
.widget.widget-plain {
  background: transparent;
  border: none;
}
.widget.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
.widget.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}
/*------------------------------------------------------------------
[ Extra / .extra ]
*/
.extra {
  border-top: 1px solid #000;
  padding: 20px 0;
  font-size: 11px;
  color: #BBB;
  background:  #267ebb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.extra a {
  color: #9e1218;
}
.extra h4 {
  margin-bottom: 1em;
  font-weight: 400;
}
.extra ul {
  padding: 0;
  margin: 0;
}
.extra ul li {
  margin-bottom: .6em;
  list-style: none;
}
/*------------------------------------------------------------------
[ Footer/ .footer ]
*/
.footer {
  margin-top: 0;
  border-top: 1px solid #000;
  padding: 15px 0;
  font-size: 12px;
  background: #446e9b;
  color: #999;
  -webkit-box-shadow: inset 0 1px 0 #292929;
  box-shadow: inset 0 1px 0 #292929;
}
.footer #footer-terms {
  text-align: right;
}
.footer a {
  color: #FFF;
}
.footer a:hover {
  color: #FFF;
  text-decoration: none;
}