.container {
    width: 974px;
}

/*********************************** Header *********************************************/
.headerdetails {
    background-image: -webkit-linear-gradient(top, #0A3044 0%, #0f4461 100%);
    padding: 10px 0;
}
.headermenu {
/*    background: #e7e7e7;*/
    background: #f8f8f8;
/*    border-width: 1px 0;*/
/*    padding: 10px 0;    */
/*    margin-top: 50px;*/
}

.headermenu .navbar {
    margin: 0;
}

.headermenu .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.headermenu .userprofile>a {
    padding: 0px;
    margin: 10px 0;
}

.headermenu .userprofile>a>img {
    width: 30px;
    height: 30px;
}
/* Space between icon and label */

.headermenu .label,
.headermenu .glyphicon {
    margin-right: 5px;
}
/********************************** End Header ******************************************/

/*********************************** Main Slider ****************************************/

.main-slider {
    margin-top: 105px;
    font-family: Arial, Helvetica, sans-serif;
    background: #39414A;
    padding: 10px 0px;
}

.main-slider .container {
    align-content: center;
/*    margin: 0px auto 0px;    */
    font-size: 12px;
}
.main-slider .container h3 {
    font-size: 1.17em;
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.main-slider li>img {
    width:942px;
    height:305px;
}

.main-slider a {
    text-transform: none;
    color: #333
}
.main-slider #footer {
    background: #F0F0F0;
    padding: 10px;
    border: #999 dotted 1px;
}
/*********************************** End Slider ***************************************/

/************************************ Main Content ************************************/

.main-content {
    padding: 0;
}

/************************************ Main Widget v1 **********************************/
/*
.widget {
    margin-bottom: 30px;
    color: #676767;    
}

.widget .title-block h3 {
    padding-left: 16px;
    background: url(../images/title-indicator.png) left 3px no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #72b7fc;
    margin-bottom: 5px;
}

.widget .title-block .divider {
    height: 5px;
    display: block;
    width: 100%;
    background-color: #575b5e;
    margin-bottom: 15px;
}
*/

/************************************ End Main Widget v1 ******************************/


/************************************ Main Widget v2 **********************************/
.widget {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.white-container {
    margin-bottom: 30px;
    padding: 20px 30px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.1);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.1);
}

.widget .widget-title {
    margin: 0 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}

/************************************ End Main Widget v2 ******************************/


/************************************ Latest Box **************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/

.board {
/*    margin: 60px auto;*/
    height: 500px;
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
/*    margin: 40px auto;*/
    margin-bottom: 0;
    box-sizing: border-box;
}
.board > div.board-inner {
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}
p.narrow {
    width: 60%;
    margin: 10px auto;
}
.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tabs.one {
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}
li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}
span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}
li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}
span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}
li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}
li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}
li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
.nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/

li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}
.nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.nav-tabs > li a:hover {
    background: transparent;
}
.tab-content {} .tab-pane {
    position: relative;
    padding-top: 50px;
}
.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}
@media( max-width:585px) {
    .board {
        width: 90%;
        height: auto !important;
    }
    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head {
        font-size: 20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .btn-outline-rounded {
        padding: 12px 20px;
    }
}
/************************************ End Latest Box **********************************/

/************************************ Social Box v1 ***********************************/
.facebook-social, .twitter-social, .googleplus-social, .linkedin-social {
    display: block;
    height: 48px;
    line-height: 48px;
    border: 1px solid #DCE2E7;
    padding: 5px;
}



.facebook-social {
    background: #FFF url(../images/social/facebook.png) 5px center no-repeat;
}

.twitter-social {
    background: #FFF url(../images/social/twitter.png) 5px center no-repeat;
}

.googleplus-social {
    background: #FFF url(../images/social/google-plus.png) 5px center no-repeat;
}

.linkedin-social {
    background: #FFF url(../images/social/linkedin.png) 5px center no-repeat;
}

.facebook-social a, .twitter-social a, .googleplus-social a, .linkedin-social a {
    color: #777;
}



i.social {
    font-weight: bold;
    font-style: normal;
    margin-left: 60px;
    font-size: 20px;
}
/************************************ End Social Box v1 ********************************/

/************************************ Social Box v2 ************************************/

.share-box {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.share-box > div:before {
    border-top: 7px solid #575b5e;
}

.share-box > div:before, .share-box > div:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.share-box > div {
    border: 2px solid #575b5e;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
}

.share-box > a {
display: block;
margin: 0;
height: 30px;
line-height: 30px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #ffffff;
text-decoration: none;
font-size: 10px;
text-align: center;
}

.share-box.facebook > a {
background: #4C66A4;
}

.share-box.twitter > a {
background: #55ACEE;
}

.share-box.google > a {
background: #d34836;
}

.share-box.linkedin > a {
background: #4875B4;
}



/************************************ End Social Box v2 ********************************/

/************************************ End Main Content ********************************/